Make a Python code for the following:

1. Make a simple calculator program about temperature conversion (from Celsius to Fahrenheit and vice-versa) with decimal number in the input.

2.  Write a Python code that shows the Fibonacci sequence up to 20 values.

3.  Create a Python program for displaying the fourth power of numbers from 0 - 50.


Submit only one Jupyter Notebook (.ipynb) file containing your answers to the above items.

## 1

In [1]:
def to_Celsius(temp):
    return (temp - 32) * 5 / 9
def to_Fahrenheit(temp):
    return temp * 9 / 5 + 32
                  
x = float(input('Enter a value in Celsius to be converted in Fahrenheit: '))
print(f'Celcius: {x} Fahrenheit {to_Fahrenheit(x)}')
x = float(input('Enter a value in Fahrenheit to be converted in Celsius: '))
print(f'Fahrenheit: {x} Celsius {to_Celsius(x)}')

Enter a value in Celsius to be converted in Fahrenheit: 32
Celcius: 32.0 Fahrenheit 89.6
Enter a value in Fahrenheit to be converted in Celsius: 12
Fahrenheit: 12.0 Celsius -11.11111111111111

## 2

In [2]:
def fibs(n):
    if n <= 0:
        raise ValueError
    if n == 1:
        return [0]
    output = [0, 1]
    for i in range(1, n-1):
        output.append(output[i]+output[i-1])
    return output

In [11]:
fibs(20)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

## 3

In [4]:
[x**4 for x in range(51)]

[0,
 1,
 16,
 81,
 256,
 625,
 1296,
 2401,
 4096,
 6561,
 10000,
 14641,
 20736,
 28561,
 38416,
 50625,
 65536,
 83521,
 104976,
 130321,
 160000,
 194481,
 234256,
 279841,
 331776,
 390625,
 456976,
 531441,
 614656,
 707281,
 810000,
 923521,
 1048576,
 1185921,
 1336336,
 1500625,
 1679616,
 1874161,
 2085136,
 2313441,
 2560000,
 2825761,
 3111696,
 3418801,
 3748096,
 4100625,
 4477456,
 4879681,
 5308416,
 5764801,
 6250000]