# DS100-1 (Applied Data Science)
## Project 1 
### Dominican Republic and Italy  

## Section: A11 
## Group: 5 
## Members:
- ALDAY, Kraemon Joshua
- GARCIA, Enrico Joaquin
- QUITELES, Sean Argie
- REYES, Justin Rupert

## Directions
Once you have collected the data of your preferred locations, submit a Jupyter Notebook file (.ipynb) that contains the data you have collected. Use Numpy and Pandas library to import, clean, and process your data.

Your Jupyter Notebook should contain the following and will be scored accordingly:

1. Numpy library (1 point)

2. Pandas library (1 point)

3. Display of the tabulated data of your 2 locations (1 point)

4. The data should contain the total number of confirmed cases, recoveries, and fatalities per day from March to August 2020 only (3 points)

5. Then, add a column in your tabulated data the difference of total confirmed cases, recoveries, and fatalities for your 2 locations (1 point)

6. Add also another column in your tabulated data the difference in the active cases (which is the net value of your total confirmed cases, recoveries, and fatalities) for the two locations (1 point)

7. Indicate in your Jupyter Notebook the URLs of the source for your data (2 points)

8. Include also a brief description of the contributions of your fellow group members (10 points) Note: No contribution of any group member will receive zero (0) point.

## Library Imports

In [8]:
import numpy as np
import pandas as pd

## Data Cleaning Function 
Since the dataset is cumulative, the daily changes are obtained using `df.diff(axis=1)`

In [9]:
def clean_data(csv_file: str) -> pd.DataFrame:
    """Returns clean data for Italy and the Dominican Republic for June to August 2020"""
    return (pd.read_csv(csv_file)
              .rename({"Country/Region": "Country"}, axis=1) 
              .query('`Country` == "Italy" or `Country` == "Dominican Republic"')
              .set_index('Country')
              .diff(axis=1) # Get the differences between raws to get the daily changes
                            # Remove this line to get cumulative
              .loc[:,'6/1/20':'8/31/20'] # Slice the DataFrame to include only entries from Jun to Aug
              .T) # Transposes the DataFrame to have the dates as index

## Applying the Data Cleaning Function to the `csv` files from `github`

In [10]:
cases_csv = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
Cases = clean_data(cases_csv)
Cases

Country  Dominican Republic   Italy
6/1/20                287.0   200.0
6/2/20                180.0   318.0
6/3/20                288.0   321.0
6/4/20                279.0   177.0
6/5/20                389.0   518.0
...                     ...     ...
8/27/20               407.0  1409.0
8/28/20               426.0  1460.0
8/29/20               342.0  1444.0
8/30/20               509.0  1365.0
8/31/20               474.0   996.0

[92 rows x 2 columns]

In [11]:
recovered_csv = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
Recovered = clean_data(recovered_csv)
Recovered

Country  Dominican Republic   Italy
6/1/20                334.0   848.0
6/2/20                182.0  1737.0
6/3/20                149.0   846.0
6/4/20                250.0   957.0
6/5/20                262.0  1886.0
...                     ...     ...
8/27/20               869.0   225.0
8/28/20               938.0   348.0
8/29/20              1035.0  1322.0
8/30/20               456.0   312.0
8/31/20              1306.0  -883.0

[92 rows x 2 columns]

In [12]:
deaths_csv = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
Deaths = clean_data(deaths_csv)
Deaths

Country  Dominican Republic  Italy
6/1/20                  0.0   60.0
6/2/20                 13.0   55.0
6/3/20                  1.0   71.0
6/4/20                  4.0   88.0
6/5/20                  5.0   85.0
...                     ...    ...
8/27/20                17.0    5.0
8/28/20                18.0    9.0
8/29/20                25.0    1.0
8/30/20                 8.0    4.0
8/31/20                29.0    6.0

[92 rows x 2 columns]

## Getting the Differences
\begin{equation}Diff = Dominican  Republic - Italy\end{equation}

In [13]:
joint = {'Cases': Cases, 'Recovered': Recovered, 'Deaths': Deaths}
for key in joint.keys():
    item = joint[key]
    item['Diff'] = item['Dominican Republic'] - item['Italy'] 
joint

{'Cases': Country  Dominican Republic   Italy    Diff
 6/1/20                287.0   200.0    87.0
 6/2/20                180.0   318.0  -138.0
 6/3/20                288.0   321.0   -33.0
 6/4/20                279.0   177.0   102.0
 6/5/20                389.0   518.0  -129.0
 ...                     ...     ...     ...
 8/27/20               407.0  1409.0 -1002.0
 8/28/20               426.0  1460.0 -1034.0
 8/29/20               342.0  1444.0 -1102.0
 8/30/20               509.0  1365.0  -856.0
 8/31/20               474.0   996.0  -522.0

 [92 rows x 3 columns],
 'Recovered': Country  Dominican Republic   Italy    Diff
 6/1/20                334.0   848.0  -514.0
 6/2/20                182.0  1737.0 -1555.0
 6/3/20                149.0   846.0  -697.0
 6/4/20                250.0   957.0  -707.0
 6/5/20                262.0  1886.0 -1624.0
 ...                     ...     ...     ...
 8/27/20               869.0   225.0   644.0
 8/28/20               938.0   348.0   590.0
 8/29/20              1035.0  1322.0  -287.0
 8/30/20               456.0   312.0   144.0
 8/31/20              1306.0  -883.0  2189.0

 [92 rows x 3 columns],
 'Deaths': Country  Dominican Republic  Italy  Diff
 6/1/20                  0.0   60.0 -60.0
 6/2/20                 13.0   55.0 -42.0
 6/3/20                  1.0   71.0 -70.0
 6/4/20                  4.0   88.0 -84.0
 6/5/20                  5.0   85.0 -80.0
 ...                     ...    ...   ...
 8/27/20                17.0    5.0  12.0
 8/28/20                18.0    9.0   9.0
 8/29/20                25.0    1.0  24.0
 8/30/20                 8.0    4.0   4.0
 8/31/20                29.0    6.0  23.0

 [92 rows x 3 columns]}

## Merged Table with Active Cases
\begin{equation}Active Cases = Cases - Deaths - Recovered\end{equation}

In [14]:
joint = pd.concat(joint, axis=1)


for s in ['Dominican Republic', 'Italy', 'Diff']:
    joint[('Active Cases', s)] = joint[('Cases', s)] - joint[('Deaths', s)] - joint[('Recovered', s)]
joint

                     Cases                          Recovered                  \
Country Dominican Republic   Italy    Diff Dominican Republic   Italy    Diff
6/1/20               287.0   200.0    87.0              334.0   848.0  -514.0
6/2/20               180.0   318.0  -138.0              182.0  1737.0 -1555.0
6/3/20               288.0   321.0   -33.0              149.0   846.0  -697.0
6/4/20               279.0   177.0   102.0              250.0   957.0  -707.0
6/5/20               389.0   518.0  -129.0              262.0  1886.0 -1624.0
...                    ...     ...     ...                ...     ...     ...
8/27/20              407.0  1409.0 -1002.0              869.0   225.0   644.0
8/28/20              426.0  1460.0 -1034.0              938.0   348.0   590.0
8/29/20              342.0  1444.0 -1102.0             1035.0  1322.0  -287.0
8/30/20              509.0  1365.0  -856.0              456.0   312.0   144.0
8/31/20              474.0   996.0  -522.0             1306.0  -883.0  2189.0

                    Deaths                   Active Cases
Country Dominican Republic Italy  Diff Dominican Republic   Italy    Diff
6/1/20                 0.0  60.0 -60.0              -47.0  -708.0   661.0
6/2/20                13.0  55.0 -42.0              -15.0 -1474.0  1459.0
6/3/20                 1.0  71.0 -70.0              138.0  -596.0   734.0
6/4/20                 4.0  88.0 -84.0               25.0  -868.0   893.0
6/5/20                 5.0  85.0 -80.0              122.0 -1453.0  1575.0
...                    ...   ...   ...                ...     ...     ...
8/27/20               17.0   5.0  12.0             -479.0  1179.0 -1658.0
8/28/20               18.0   9.0   9.0             -530.0  1103.0 -1633.0
8/29/20               25.0   1.0  24.0             -718.0   121.0  -839.0
8/30/20                8.0   4.0   4.0               45.0  1049.0 -1004.0
8/31/20               29.0   6.0  23.0             -861.0  1873.0 -2734.0

[92 rows x 12 columns]

## Sources
COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University<br>
- https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv
- https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv
- https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv

## Contributions
- ALDAY, Kraemon Joshua - Differences<br>
- GARCIA, Enrico Joaquin - Active Cases<br>
- QUITELES, Sean Argie - Cases, Recovered<br>
- REYES, Justin Rupert - clean_data(csv_file) function